/web/bundles/
/web/assets/*
/web/assets/css/*
/web/assets/js/*
/web/assets/fonts/*
/web/assets/types/*.js
/app/bootstrap.php.cache
/app/phpunit.xml
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/bower_components
/node_modules
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/.idea
*.tar.gz
*.swp
*.swo
cache.properties
.sass-cache/*
npm-debug.log
Gemfile.lock
.ruby-gemset
.ruby-version
.tmp
.sass-cache
coverage.xml
karma-coverage.xml
.ant-targets-build.xml
.DS_Store
*.DS_Store
.php_cs.cache
