{% extends 'baseIndex.html.twig' %}

{% block navbar %}

    <form class="navbar-form navbar-right">
        <div class="form-group has-feedback">
            <div class="input-group">
                <input type="text" placeholder="Usuario" class="form-control flat" />
                <span class="form-control-feedback fui-user" ></span>
            </div>
            <div class="input-group has-feedback">
                <input type="text" placeholder="Contrase&ntilde;a" class="form-control flat" />
                <span class="form-control-feedback fui-lock" ></span>
            </div>
            <div class="input-group">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </div>
    </form>

{% endblock %}

{% block body %}

    <div class="container">
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="col-md-12">
            <button class="btn btn-hg btn-primary">Registro</button>
        </div>
    </div>

{% endblock %}
